<!DOCTYPE html>
<html ng-app="Driveway-Share">
  <head>
    <meta charset="utf-8"/>
    <title>Driveway Share</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
  </head>
  <body>

    <div ng-controller="NavController">
      <nav id="nav-bar">
        <a href=#><h1>Driveway Share</h1></a>
        <form id="signin-form" name="signinForm" ng-submit='signin()'>
          <input type='text'ng-model='user.username'>
          <input type="password" ng-model='user.password'>
          <button>Sign in</button> <a href="#/signup"><button>Sign up</button></a>
        </form>
      </nav>
    </div>

    <div ui-view></div>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/home/home.js"></script>
    <script src="app/home/nav.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="app/user/user.js"></script>
    <script src="app/signup/signup.js"></script>
    <script src="app/services/services.js"></script>
  </body>
</html>
