* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#nav-bar {
  background-color: #00796B;
  position: fixed;
  width: 100%;
  height: 64px;
  line-height: 64px;
  z-index: 1;
}

#nav-bar header {
  min-width: 650px;
}

#logo {
  display: inline-block;
  padding-left: 50px;
  text-decoration: none;
  width: 150px;
}

#logo span {
  color: white;
  font-size: 160%;
  font-family: 'Oswald', sans-serif;
}

#nav-links {
  display: inline-block;
  float: right;
  padding-right: 50px;
  width: 400px;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 88%;
  padding: 0 25px;
  cursor: pointer;
}

.nav-item:hover, .active-page {
  color: #EEFF41;
}

.shadow {
  background-image: url("../assets/bottom-shadow.png");
  height: 15px;
}

#main {
  padding-top: 64px;
}

#main-search {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#main-search-input{
  width: 50%;
  height: 32px;
  padding: 0 5px;
}

#main-search button {
  width: 100px;
  height: 21px;
  margin-left: 5px;
}

.largeSearch {
  line-height: 600px;
  background-image: url("../assets/bg.jpg");
}

.smallSearch {
  line-height: 64px;
  background: #009688;
}

#google-map {
  width: 100%;
  min-width: 400px;
  height: 400px;
  margin: 15px 0;
}

#main-list {
  width: 75%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 50px;
}

#main-list h1 {
  text-align: center;
}

.dropdown {
  width: 1%;
  cursor: pointer;
}

.list-headers, .list-item {
  line-height: 32px;
  border-bottom: 1px solid #888;
  min-width: 575px;
}

.list-headers h4, h5 {
  display: inline-block;
}

.list-item:hover {
  background-color: #f8f8f8;
}

.list-item p {
  display: inline-block;
}

.list-address {
  width: 60%;
  padding-left: 15px;
}

.list-price, .list-distance {
  width: 17%;
  text-align: center;
}

.user-list-price {
  width: 11%;
  text-align: center;
}

.list-availability, .list-delete {
  width: 11%;
  text-align: center;
}

.list-delete img {
  cursor: pointer;
}

.list-contact {
  padding-left: 24px;
  font-size: 95%;
}

.list-contact span {
  color: #555;
  font-size: 85%;
  font-style: italic;
  padding-right: 5px;
}

.list-contact-description, .list-user-description {
  overflow: hidden;
  width: 95%;
  padding-left: 32px;
}

.list-user-description {
  width: 90%;
  white-space: pre-wrap;
}

#user-nav {
  line-height: 48px;
  background: #FBE9E7;
  text-align: center;
}

.user-nav-item {
  display: inline-block;
  cursor: pointer;
  padding: 0 25px;
  color: #888;
  font-size: 88%;
}

.tab-content {
  width: 55%;
  min-width: 600px;
  margin: 15px auto;
  background-color: #f8f8f8;
  padding: 15px;
}

.tab-content-header {
  margin-bottom: 10px;
}

.active-tab {
  display: inline-block;
  color: #E64A19;
  border-bottom: 3px solid #FF7043;
}

.form-label {
  color: #333;
  line-height: 50px;
}

#post-address-input {
  width: 75%;
  height: 25px;
  margin: 0 10px 15px 10px;
  padding: 0 5px;
}

#post-description * {
  vertical-align: middle;
}

#post-description-input {
  width: 50%;
  height: 50px;
  resize: none;
  margin: 0 10px;
  padding: 5px;
  border-color: #ddd;
}

#post-price-input {
  width: 48px;
  margin-left: 10px;
  padding-left: 5px;
  height: 24px;
}

#post-listing-form-button {
  width: 100px;
  height: 21px;
  margin-top: 15px;
}

#signup-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#signup-container div {
  display: inline-block;
  vertical-align: top;
  padding: 50px 32px;
}

.md-title, .md-input::-webkit-input-placeholder, .md-button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.md-title {
  line-height: 64px;
  width: 100%;
  background: #FF7043;
  color: white;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
}

.md-form {
  box-sizing: border-box;
  width: 260px;
  background-color: #f8f8f8;
  padding-bottom: 40px;
  border-radius: 3px;
}

.md-input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #FF7043;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #FF7043 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FF7043 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #000;
}

.md-input:focus, .md-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.md-input:focus::-webkit-input-placeholder, .md-input:valid::-webkit-input-placeholder {
  color: #FF7043;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

.md-button {
  border: none;
  background: #FF3D00;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 100px;
  color: white;
}

#about {
  padding: 20px;
}

#dist-input {
  width: 30px;
  height: 20px;
  font-size: 17px;
}

#about-product p {
  white-space: pre-wrap;
}

.no-bullet {
  list-style-type: none;
}

.chars-left {
  color: #a1a1a1;
  font-size: 65%;
}

.green-circle, .red-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.green-circle {
  background-color: #00BFA5;
}

.red-circle {
  background-color: #DD2C00;
}
