<div id='signup'>
  <h1>Sign up</h1>
  <div id="signup-container">
	  <form id="signup-form" name="signupForm" ng-submit="signup()">
	  	First name: <input type='text' ng-model='user.first_name'><br>
	  	Last name: <input type='text' ng-model='user.last_name'><br>
	  	Email: <input type='text' ng-model='user.email'><br>
	    Username: <input type='text' ng-model='user.username'><br>
	    Password: <input type="password" ng-model='user.password'><br>
	    <button>Sign up</button>
	  </form>
  </div>
</div>
