<div id="user-container">
  <div id="user-nav">
    <header>
      <nav>
        <a class="user-nav-item" ng-class="{'active-tab': isSet(1)}" ng-click="setTab(1)">Create Listing</a>
        <a class="user-nav-item" ng-class="{'active-tab': isSet(2)}" ng-click="setTab(2)">Manage Listings</a>
      </nav>
    </header>
  </div>

  <div class="shadow"></div>

  <div class="tab-content" ng-show="isSet(1)">
    <h4 class="tab-content-header">Rent out your parking spot:</h4>
    <form class="post-listing-form" name="createListingForm">
      <label class="form-label">Address:<input id="post-address-input" type="text" ng-model="newListing.formatted_address" required></label>
      <br/>
      <div id="post-description">
        <label class="form-label">Description:<textarea id="post-description-input" placeholder="e.g. days/times available, driveway/garage spot, covered/uncovered, etc." maxlength="250" type="text" ng-model="newListing.descrip" ng-trim="false" required></textarea></label>
        <span class="chars-left">chars: {{250 - newListing.descrip.length}}</span>
      </div>
      <label class="form-label">Price:<input id="post-price-input" placeholder="$" type="number" ng-model="newListing.price" required></label>
    </form>
    <button id="post-listing-form-button" ng-click="createListing()">Submit</button>
  </div>

  <div class="tab-content" ng-show="isSet(2)">
    <h4 class="tab-content-header">Manage Listings</h3>
    <section id="user-list" ng-show="data.length>0">
      <header id="user-list-headers">
        <h5 class="list-address">Address</h5>
        <h5 class="user-list-price">Price</h5>
        <h5 class="list-availability">Availability</h5>
        <h5 class="list-delete">Delete</h5>
      </header>
      <ul class="list-table">
        <li class="list-item no-bullet" ng-repeat="item in data">
          <div>
            <p class="list-address">
              {{ item.street_address }}, {{ item.city_name }},
              {{ item.state }} {{ item.zipcode }}
            </p>
            <p class="user-list-price">${{ item.price }}</p>
            <p class="list-availability">
              <button ng-class="{'red-circle': !item.available, 'green-circle': item.available}" ng-click="item.available = !item.available; toggleListingAvailability(item)">
              </button>
            </p>
            <p class="list-delete"><img src="../assets/trash-can.png" ng-click="removeListing(item)"></p>
            <p class="dropdown" ng-show="item.description"><img ng-click="toggleExpand(item)" src="../assets/dropdown.png"></p>
              <div ng-show="item.expand">
                <p class="list-user-description">{{ item.description }}</p>
              </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
