<div id="user-container">
  <h1>Create Listing</h1>

  <form name="createListingForm" ng-submit="createListing()">
    <label>Address:<input id="autocomplete" type="text" ng-model="newListing.formatted_address"></label><br/>
    <label>Start Time:<input type="text" ng-model="newListing.start_time"></label><br/>
    <label>End Time:<input type="text" ng-model="newListing.end_time"></label><br/>
    <label>Availability:
      <label><input type="checkbox" ng-model="newListing.avail_days[0]">Monday</label>
      <label><input type="checkbox" ng-model="newListing.avail_days[1]">Tuesday</label>
      <label><input type="checkbox" ng-model="newListing.avail_days[2]">Wednesday</label>
      <label><input type="checkbox" ng-model="newListing.avail_days[3]">Thursday</label>
      <label><input type="checkbox" ng-model="newListing.avail_days[4]">Friday</label>
      <label><input type="checkbox" ng-model="newListing.avail_days[5]">Saturday</label>
      <label><input type="checkbox" ng-model="newListing.avail_days[6]">Sunday</label>
    </label><br/>
    <label>Price:<input type="number" ng-model="newListing.price"></label><br/>
    <button>Create Listing</button>
  </form>

</div>
