<div id="home-container">

  <form id="main-search" ng-submit="getSearch()" ng-class="listPopulated ? 'smallSearch' : 'largeSearch'">
    <input id="main-search-input" type="text" ng-model="search" required="">
    <button type="submit">Search</button>
  </form>

  <div class="shadow"></div>

  <section id="main-list" ng-show="listPopulated">
    <h1>Listings within <input id="dist-input" type="number" ng-model="distSearchInput" required=""> miles</h1>

    <div id="google-map"></div>

    <header class="list-headers">
      <h4 class="list-address">Address</h4>
      <h4 class="list-price" ng-click="sortPrice()">Price</h4>
      <h4 class="list-distance" ng-click="sortDist()">Distance</h4>
    </header>

    <ol class="list-table">
      <li class="list-item" ng-repeat="item in data">
        <div>
          <p class="list-address">
            {{ item.listing.street_address }}
            {{ item.listing.city_name }},
            {{ item.listing.state }}
            {{ item.listing.zipcode }}
          </p>
          <p class="list-price">${{ item.listing.price }}</p>
          <p class="list-distance">{{ item.dist }} miles</p>
          <p class="dropdown"><img ng-click="toggleExpand(item)" src="../assets/dropdown.png"></p>
        </div>
        <div ng-show="item.expand">
          <p>{{item.listing.description}}</p>
          <br/>
          <p class="list-contact">Owner: <strong>{{ item.username }}</strong></p><br>
          <p class="list-contact">Email: <a href=# ng-click="sendEmail(item.email)">{{ item.email }}</a></p><br>
          <p class="list-contact">Phone: {{ item.phone }}</p>
        </div>
      </li>
    </ol>
  </section>

</div>
