<div id="home-container">
  <form id="main-search" ng-submit="getSearch(search)">
    <input id="main-search-input" type="text" ng-model="search">
    <button type="submit">Search</button>
  </form>

  <section id="main-list" ng-show="data.length>0">
    <h1>Listings</h1>
    <header class="list-headers">
      <h4 class="list-address">Address</h4>
      <h4 class="list-price">Price</h4>
      <h4 class="list-availability">Availability</h4>
    </header>
    <ul class="list-table">
      <li class="list-item" ng-repeat="item in data" ng-click="toggleExpand()">
        <div>
          <p class="list-address">
            {{ item.street_address }}, {{ item.city_name }},
            {{ item.state }} {{ item.zipcode }}
          </p>
          <p class="list-price">${{ item.price }}</p>
          <p class="list-availability">{{ item.avail_days }}YES</p>
        </div>
        <div ng-show="expand">
          <p class="list-contact">Contact NAME at EMAIL@EMAIL.EMAIL</p>
        </div>
      </li>
    </ul>
  </section>

</div>